body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #007BFF; /* Cambiamos el color del borde */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid ;

}

p {
    color: #666;
    margin: 10px 0;
}

.enlace {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    display: block;
    margin-top: 20px;
    background-color: #007BFF; /* Fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border-radius: 5px; /* Redondea los bordes del botón */
}
